body {
    margin-top: 20px;
}

.idance .classes-details ul.timetable {
    margin: 0 0 22px;
    padding: 0;
}

.container-fluid {
    background-color: white;
}

.idance .classes-details ul.timetable li {
    list-style: none;
    font-size: 15px;
    color: white;
}

idance .timetable {
    max-width: 800px;
    margin: 0 auto;
}

.idance .timetable-item {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    border: 1px solid #cad1d6;
    background-color: #D9FCFC;
    padding: 15px;
    margin-top: 20px;
    position: relative;
    display: block;
}

@media (min-width: 768px) {
    .idance .timetable-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

h2 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 30px;
}

.idance .timetable-item-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin-top: 12px;
}

@media (min-width: 768px) {
    .idance .timetable-item-main {
        margin-top: 0;
        padding-left: 15px;
    }
}

.idance .timetable-item-time {
    font-weight: 550;
    font-size: 19px;
    margin-bottom: 15px;
    padding-bottom: 2em;
}

.idance .timetable-item-name {
    font-weight: 540;
    font-size: 18px;
    margin-bottom: 19px;
}

.idance .timetable-item-price {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 19px;
}

.idance .btn-book {
    padding: 6px 30px;
    width: 50%;
    float: right;
    background-color: #205b8d;
}

.idance .timetable-item-like {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 20px;
    cursor: pointer;
}

.idance .timetable-item-like .fa-heart-o {
    display: block;
    color: #b7b7b7;
}

.idance .timetable-item-like .fa-heart {
    display: none;
    color: #f15465;
}

.idance .timetable-item-like:hover .fa-heart {
    display: block;
}

.idance .timetable-item-like:hover .fa-heart-o {
    display: none;
}

.idance .timetable-item-like-count {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: #7f7f7f;
}

.idance .timetable-item-book .btn {
    width: 40%;
}

.idance .schedule .nav-tabs {
    border-bottom: 2px solid #104455;
}

.idance .schedule .nav-link {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 500;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 2px 2px 0 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .idance .schedule .nav-link {
        font-size: 16px;
    }
}

.idance .schedule .nav-link.active {
    background: #104455;
    border-color: #104455;
    color: #fff;
}

.idance .schedule .nav-link.active:focus {
    border-color: #104455;
}

.idance .schedule .nav-link:hover:not(.active) {
    background: #46c1be;
    border-color: #46c1be;
    color: #fff;
}

.idance .schedule .tab-pane {
    padding-top: 10px;
}

:host ::ng-deep .mat-tab-label {
    color: #000 im !important;
    font-size: large;
}


/* active tab */

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: black;
    background-color: #205b8d;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    color: white;
    min-width: 0!important;
    width: 100%;
}


/* ink bar */

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color, #1F89CE) !important;
}

.day-not-working {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
    padding: 70px 0;
    min-height: 10em;
    text-align: center;
    vertical-align: middle;
}