<p-toast position="top-center"></p-toast>

<div class="detail-section" style="padding-top: 80px;">
    <div class="container">
        <div class="picsum-img-wrapper" style="padding-bottom: 20px;">
            <img class="card-img-top p-shadow-4" src={{instructor.imageString}} alt="Random first slide">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h1 class="title"><b>{{instructor?.user.firstName}} {{instructor?.user.lastName}}</b></h1>
            </div>

            <div class="col-lg-4" style="text-align: right;">
                <div *ngIf="instructor.rating.counter === 0; else elseRating">
                    Még nem értékelt
                </div>
                <ng-template #elseRating>
                    <div>
                        <ngb-rating [readonly]="true" [max]="5" [rate]="instructor.rating.value"> </ngb-rating>
                        ({{instructor.rating.value}})
                    </div>
                    <pre>(<b>{{instructor.rating.counter}}</b> értékelés alapján)</pre>
                </ng-template>
            </div>
        </div>

        <h2><b>Végzettség: </b>{{instructor?.title}}</h2>
        <h2><b>Jártasság az alábbi sport(ok)ban: </b><span *ngFor="let sport of instructor.knownSports">{{sport.name
                }}&nbsp; </span> </h2>
        <mat-divider></mat-divider>
        <h2><b>Elérhetőségek:</b></h2>
        <div class="row">
            <div class="col-lg-6">
                <h2><b>Város:</b><br> {{instructor?.user.shippingAddress.city.cityName}} </h2>
            </div>
            <div class="col-lg-6">
                <div *ngIf="instructor?.sportFacility;else elseBlock">
                    <h2><b>Sportlétesítmény:</b><br><a (click)="onFacilityClick()" routerLink="/facilities/{{facility?.id}}">{{facility?.name}}</a></h2>
                </div>
                <ng-template #elseBlock>
                    <h2><b>Sportlétesítmény: </b>nem tartozik sportlétesítményhez</h2>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2><b>Email:</b> {{instructor?.user.contactData.email}}</h2>
            </div>
            <div class="col-lg-6">
                <h2><b>Tel:</b> (+36) {{instructor?.user.contactData.telNumber}}</h2>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h2><b>Bemutatkozás:</b></h2>
        <p>{{instructor?.bio}}</p>
        <h2 class="display-4">
            <b>Elérhető órák:</b>
        </h2>
        <span class="material-icons" style="font-size: 2.4em;">
            event
        </span>
        <!--
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow" *ngFor="let sessionDetails of trainingSessionDetails">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{sessionDetails.name}}</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">Időtartam: {{sessionDetails.durationMinutes}} <small
                            class="text-muted">perc</small></h3>
                    <h3 class="card-title pricing-card-title">Alkalmi Ár: {{sessionDetails.occasionPrice}} <small
                            class="text-muted">HUF</small></h3>
                    <h3 class="card-title pricing-card-title">Havi Ár: {{sessionDetails.monthlyPrice}}<small
                            class="text-muted"> HUF</small></h3>
                </div>
            </div>
        </div> -->
        <app-instructor-schedule></app-instructor-schedule>

        <a class="mt-5" routerLink="/instructors" style="color: black;">
            <i class="fa fa-chevron-circle-left">Vissza a többi oktatóhoz</i>
        </a>
        <mat-divider style="padding-bottom: 20px;"></mat-divider>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="col-12 col-sm-12 header">
                            <h1 class="comm-header"><i class="material-icons">forum</i> Hozzászólások ({{instructor.comments?.length}})
                            </h1>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card">
                    <div class="commentbox">
                        <div class="col-12 col-sm-12 body">
                            <div class="comment-container">
                                <div class="comment-form" *ngIf="isLoggedIn; else notLoggedIn">
                                    <form [formGroup]="commentForm" (ngSubmit)="onComment()">
                                        <div class="form-group">
                                            <h2><em>Szeretné véleményét megosztani?</em></h2>
                                            <h2>Értékelje:
                                                <ngb-rating style="font-size: 2.2em;" formControlName="rate" [max]="5" [ngClass]="{ 'is-invalid': submitted && commentForm.controls['rate'].errors }">
                                                </ngb-rating>
                                                <div class="invalid-feedback" *ngIf="submitted && commentForm.controls['rate'].errors">
                                                    <div *ngIf="commentForm.controls['rate'].errors.required">Kérjük értékelje 1-5ig ezt a terméket</div>

                                                </div>
                                            </h2>
                                            <h2>
                                                <textarea class="form-control" placeholder="Szólj hozzá" formControlName="message" style="height: 7em;" [ngClass]="{ 'is-invalid': submitted && commentForm.controls['message'].errors }"></textarea>
                                                <div class="invalid-feedback" *ngIf="submitted && commentForm.controls['message'].errors">
                                                    <div *ngIf="commentForm.controls['message'].errors.required">Kérjük írja le véleményét</div>
                                                    <div *ngIf="commentForm.controls['message'].errors.minlength">
                                                        Legalább 6 karakter hosszú véleményt írjon
                                                    </div>
                                                </div>
                                            </h2>
                                        </div>
                                        <div class="form-group" style="text-align: right;">
                                            <button type="submit" class="btn btn-success" style="background-color: green;">Küldés <i
                                                    class="fa fa-share"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <ng-template #notLoggedIn>
                                    <h1 style="text-align: center;"><em>Véleményed <a routerLink="/login">
                                                bejelentkezés</a> után megoszhatod erről az edzőről</em></h1>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 body">
                            <div class="comment-container">
                                <div class="comment-form">
                                    <mat-card class="example-card" *ngFor="let comment of instructor.comments">
                                        <mat-card-header>
                                            <div mat-card-avatar class="example-header-image"></div>
                                            <mat-card-title>{{comment.commenter.firstName}} {{comment.commenter.lastName}}
                                            </mat-card-title>
                                            <mat-card-subtitle>elküldve: {{comment.created | date:'short':'+0100':'HU'}}
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content style="font-size: larger;">
                                            <div style="padding-bottom: 1.4em;"><b>Értékelése:</b>
                                                <ngb-rating style="font-size: 1.7em;" [rate]="comment.rate" [readonly]="true" [max]="5"> </ngb-rating>
                                                ({{comment.rate}})
                                            </div>
                                            <b>Megjegyzése:</b> {{comment.text}}
                                        </mat-card-content>
                                        <mat-divider></mat-divider>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>