.title {
    color: #205b8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.detail-section {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.example-header-image {
    background-image: url("/assets/images/user_icon.png");
    background-size: cover;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-success {
    background-color: #205b8d;
    color: white;
}

.comm-header {
    color: #0da8e4;
    padding-top: 20px;
}