<header class="masthead text-white text-center" style="padding-top: 110px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5" style="color: white;">FitForFun, Ahol a mozgás kezdődik</h1>
            </div>
        </div>
    </div>
</header>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/images/about-us/product.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h1 class="colored-text">Termékeink</h1>
                <p class="lead mb-0" style="padding-bottom: 20px;">Széles palettán mozogva kínálunk sporthoz köthető termékeket, kiváló ár érték arányú kínálatunkban biztos megtalálja a számára legmegfelelőbbet. </p>
                <a routerLink="/products" class="btn btn-primary">További részletek&rarr;</a>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/images/about-us/instructor.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h1 class="colored-text">Edzőink</h1>
                <p class="lead mb-0" style="padding-bottom: 20px;">Oktatóink a legkiválóbb szakemberek, melyek biztosan segítségére tudnak lenni a céljai elérésében. </p>
                <a routerLink="/instructors" class="btn btn-primary">További részletek&rarr;</a>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/images/about-us/facility.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h1 class="colored-text">Sport Létesítményeink</h1>
                <p class="lead mb-0" style="padding-bottom: 20px;">A lehető legtöbb fajta sportolásra alkalmas létesítmény bemutatása a célunk, hogy őnnek semmiben se kelljen hiányt szenvednie.</p>
                <a routerLink="/facilities" class="btn btn-primary">További részletek&rarr;</a>

            </div>
        </div>
    </div>
</section>