<p-toast>
</p-toast>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Regisztrált felhasználók</h1>
                    <p class="mb-4">Aktuális adataink a rendszerbe regisztrált felhasználókról
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <p-table #dt dataKey="id" [value]="users" class="p-datatable-customers" width="100%" cellspacing="0" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="Mutat {first}-{last}-ig {totalRecords}-ból"
                                    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [globalFilterFields]="['firstName']" [scrollable]="true" (onPage)="scrollUp()">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex">
                                            <div class="p-d-flex p-ai-center p-jc-between" style="padding-left:20px;">
                                                Összesen {{users ? users.length : 0 }} Felhasználói fiók érhető el.
                                            </div>
                                            <span class="p-input-icon-left p-ml-auto">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                    placeholder="Keresés név alapján" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>

                                            <th pSortableColumn="firstName">Név
                                                <p-sortIcon field="firstName">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="contactData.email">Email
                                                <p-sortIcon field="contactData.email">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="contactData.telNumber">Telefonszám
                                                <p-sortIcon field="contactData.telNumber">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="emailVerificationStatus">Aktiválva
                                                <p-sortIcon field="emailVerificationStatus">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="shippingAddress.city.cityName">Cím
                                                <p-sortIcon field="shippingAddress.city.cityName">
                                                </p-sortIcon>
                                            </th>

                                            <th pSortableColumn="created">Regisztráció dátuma
                                                <p-sortIcon field="created"></p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-user>
                                        <tr>
                                            <td>{{user.firstName}} {{user.lastName}}</td>
                                            <td>{{user.contactData?.email}}</td>
                                            <td>{{user.contactData?.telNumber}}</td>

                                            <td><span *ngIf="user.emailVerificationStatus">Aktív</span>
                                                <span *ngIf="!user.emailVerificationStatus">Inaktív</span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{user.shippingAddress?.city.cityName}}
                                                    {{user.shippingAddress?.street}}</span>
                                            </td>
                                            <td>{{user.created | date:'short':'+0100':'HU'}}</td>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        <button class="scroll-to-top rounded" (click)="scrollUp()">
                                            <span style="font-size: larger;"> <i class="fa fa-angle-up"></i> Lap
                                                tetejére </span></button>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>