<p-toast position="top-center"></p-toast>

<div class="main-content">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Új jelszó beállítása!</h1>
                    <form [formGroup]="passwordResetFormGroup" (submit)="onClick()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="color: white;"><i class="fas fa-key"><i
                                            class="strict">*</i></i></span>
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Jelszó</mat-label>
                                <input formControlName="password" matInput required [type]="hide ? 'password' : 'text' ">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <mat-hint>A jelszó erőssége érdekében kérjük legalább 6 karakter hosszú legyen
                                </mat-hint>
                                <mat-error *ngIf="password.hasError('required')">Kérjük adjon meg egy jelszót!
                                </mat-error>
                                <mat-error *ngIf="password.hasError('minlength')">A jelszó legalább 6 karakter hosszú legyen!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <button class="btn float-right login_btn" type="submit">
                                Beállítás
                                <i class="fa fa-share"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>