@import url('https://fonts.googleapis.com/css?family=Numans');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
html,
body {
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.main-content {
    background: url("/assets/images/loginn.jpg") no-repeat center center;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    width: 600px;
    background-color: white !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.mat-form-field {
    font-size: large;
    width: 505px;
}

.card-header h3 {
    color: black;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    height: 70px;
    background-color: #205b8d;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.error-text {
    font-size: large;
}

.remember {
    color: black;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    font-size: large;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
}

.card-footer {
    font-size: large;
}

:host ::ng-deep .mat-tab-label {
    font-size: large;
}

 ::ng-deep .mat-tab-label-active {
    font-weight: bold;
    border-style: solid;
    border-color: #283593;
}

.strict {
    color: #990000;
}

textarea {
    height: 220px;
}

.example-right-align {
    text-align: right;
}