<p-toast position="top-center"></p-toast>
<div class="main-content">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Elfelejtette Jelszavát?</h1>
                    <h2>Email címe megadásával újat állíthat be.</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="checkoutFormGroup">
                        <div formGroupName="emailGroup">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">local_post_office</i>
                                        <i class="strict">*</i></span>
                                </div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Email cím</mat-label>
                                    <input formControlName="email" matInput placeholder="pelda@gmail.com">
                                    <mat-error class="error-text">
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                            <ng-container *ngFor="let error of errors(email)">
                                                {{ errorMessagesEmail[error] }}
                                            </ng-container>
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn float-right login_btn" (click)="onClick()">
                                <b>Új jelszó igénylés</b>
                                <i class="material-icons">login</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>