<div class="main-content">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Köszönjük vásárlását!</h1>
                    <h3>Rendelésed feldolgozása megtörtént, részleteiről email-ben értesítettünk.</h3>
                    <h3>Várható kiszállítási időpont: {{date | date:'short':'+0100':'HU'}}</h3>
                    <h3>
                        Rendeléseid megtekintheted a <a href="user/purhcases">profil/rendeléseim</a> menüpont alatt
                    </h3>

                </div>
            </div>
        </div>
    </div>
</div>