body {
    padding-top: 200px;
}

.sideb {
    width: 500px;
    position: fixed;
    top: 75px;
    background: #f7f1f0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.side {
    background: #f7f1f0;
    left: 0;
    bottom: 0;
}

.search-butt {
    position: relative;
    right: 0;
    min-width: 95px;
    color: #fff;
    border: 1px solid #205b8d;
    background: #205b8d
}

.search-butt:hover {
    background: #05143f
}

.btn-primary {
    background: #205b8d
}

.btn-primary:hover {
    background: #05143f
}

.sport-link {
    cursor: pointer;
}

ngb-pagination ::ng-deep ul>li:not(.active)>a {
    background-color: lightblue !important;
    color: black;
}

ngb-pagination ::ng-deep ul>li.active>a {
    background-color: #205b8d !important;
    color: white;
}

.mr-auto {
    font-size: larger;
}

::ng-deep .mat-form-field .mat-input-element {
    color: #205b8d;
}

::ng-deep .mat-form-field .mat-form-field-label {
    font-size: 15px;
    color: #205b8d!important;
}

::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: #205b8d;
}

::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: #205b8d;
}

::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: #205b8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}